<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Informe con detalles</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style1.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style3.css">

</head>
<body>
	<header><p>Colegio <strong>San Miguel</strong></p></header>
	<div style="width: 100%; min-height: 800px; display: flex;">
		
		<nav>
			<h2>Indice</h2>
			<ul>
				<li ><a href="/func1"><p>Registrar asistencia</p></a></li>
				<li><a href="/func2"><p>Informe con detalles</p></a></li>
				<li><a href="/func3"><p>Listado de asistencia</p></a></li>
			</ul>
		</nav>
		<section>
			<div class="container">
				<p>Informe detallado</p>
				<div class="tabla">
					<div class="columna izq">
						<p>Estudiantes</p>
						<div class="fila primera"><p>Nombre y Apellido</p></div>
						{% for estudiante in estudiantes %}
							<div class="fila"><p>{{ estudiante.nombre }}, {{ estudiante.apellido }}</p></div>							
						{% endfor %}
					</div>
					<div class="columna">
						<p>Clases normales</p>
						<div class="fila primera"><p>Asistencias</p><p>Inasistencias</p><p>Justificadas</p></div>
						{% for contador in contadores %}
							<div class="fila"><p>{{ contador[0] }}</p><p>{{ contador[2] }}</p><p>{{ contador[4] }}</p></div>							
						{% endfor %}
					</div>
					<div class="columna">
						<p>Clases de Ed. Fisica</p>
						<div class="fila primera"><p>Asistencias</p><p>Inasistencias</p><p>Justificadas</p></div>
						{% for contador in contadores %}
							<div class="fila"><p>{{ contador[1] }}</p><p>{{ contador[3] }}</p><p>{{ contador[5] }}</p></div>	
						{% endfor %}
					</div>
					<div class="columna der">
						<p>Faltas</p>
						<div class="fila primera"><p>Total</p></div>
						{% for contador in contadores %}
							<div class="fila"><p>{{ contador[2] + contador[3] * 0.5 }}</p></div>	
						{% endfor %}
					</div>

				</div>

				
				
			</div>
			
		</section>
	</div>
</body>
</html>