<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Listado de asistencia</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style1.css">

</head>
<body>
	<header><p>Colegio <strong>San Miguel</strong></p></header>
	<div style="width: 100%; min-height: 800px; display: flex;">
		
		<nav>
			<h2>Indice</h2>
			<ul>
				<li ><a href="/func1"><p>Registrar asistencia</p></a></li>
				<li><a href="/func2"><p>Informe con detalles</p></a></li>
				<li><a href="/func3"><p>Listado de asistencia</p></a></li>
			</ul>
		</nav>
		<section>
			<div class="container"></div>
			
		</section>
	</div>
</body>
</html>