<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicia sesion</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style0.css">
</head>
<body>
	<header><p>Colegio <strong>San Miguel</strong></p></header>

	<form action="/login" method="post">

		<h1>Ingresar</h1>

		<label>Correo Electrónico</label>
		<input type = "text" name = "correo" placeholder = "Correo" />

		<label>Contraseña</label>
		<input type = "password" name = "clave" placeholder = "Contraseña"/>
		
		<div><input type="radio" name="tipo" value="preceptor"><label>Preceptor</label></div>
		<div><input type="radio" name="tipo" value="tutor"><label>Tutor</label></div>

		<input type="hidden" name="tipo" value="">
		
		{% if error %}
        	<div class="error-message">{{ error }}</div>
    	{% endif %}

    	<input type="submit" value = "Iniciar sesion">
		
	</form>

</body>
</html>