<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registrar asistencia</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style1.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style2.css">

</head>
<body>
	<header><p>Colegio <strong>San Miguel</strong></p></header>
	<div style="width: 100%; min-height: 800px; display: flex;">
		<nav>
			<h2>Indice</h2>
			<ul>
				<li ><a href="/func1"><p>Registrar asistencia</p></a></li>
				<li><a href="/func2"><p>Informe con detalles</p></a></li>
				<li><a href="/func3"><p>Listado de asistencia</p></a></li>
			</ul>
		</nav>
		<section>
			<div class="container">
				<form action="/seleccionar_curso2" method="post">
						<p>Cursos</p>
						{% for curso in cursos %}
						<div>
							<input type="radio" name="curso" value="{{ curso.id }}">
							<label><strong style="visibility: hidden;">{{ curso.id }}</strong>{{ curso.anio }}° año, {{ curso.division }}° division</label>
						</div>
						{% endfor %}
						<input type="submit" value="Seleccionar curso">
						{% if error %}
				        	<div class="error-message">{{ error }}</div>
				    	{% endif %}
				</form>
			</div>
		</section>
	</div>
</body>
</html>