section .container form{
	width: 1000px;
	height: fit-content;
	min-height: 500px;

	padding: 50px;
	margin-left: 0;

	color: #000000;
	font-size: 18px;
	font-family: sans-serif;

	display: flex;
	flex-direction: column;

	background-color: #FFFFF0;
	box-shadow: #000000 -5px 5px 5px;
}


section .container form div {
	padding: 1px;

	
}

section .container form div input[type="radio"]{
	width: 50px;
}

section .container form input[type="submit"]{
	width: 200px;
	height: 25px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: 0px;
}

form .error-message{
	margin-top: 15px;
	color: #000000;
	font-size: 20px;
	font-family: sans-serif;
	text-shadow: red -1px 1px;

}

section .container form p{
	margin-bottom: 15px;
}

section .container form input[type="date"]{
	width: 100px;
	margin-bottom: 10px;
}

section .container form #data{
	display: flex;
}

section .container form #data #tipoclase{
	width: 400px;
	margin-left: 30px;
	display: flex;
	justify-content: space-between;
}



section .container form .tabla{

	margin: 10px 0 30px 0;
	display: flex;
	flex-direction: column;	
}

section .container form .tabla .fila {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-around;

}

section .container form .tabla .item.izq {
	width: 30%;
}

section .container form .tabla .item.medio {
	width: 10%;
}

section .container form .tabla .item.der{
	width: 30%;
}




input[type="number"] {
	width: 200px;
	height: 18px;
	margin: 10px;
    -moz-appearance: textfield; /* Firefox */
  }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none; /* Safari, Chrome */
margin: 0; /* Elimina el espacio adicional */
}