section .container form{
	width: 1000px;
	height: fit-content;
	min-height: 500px;

	padding: 50px;
	margin-left: 0;

	color: #000000;
	font-size: 18px;
	font-family: sans-serif;

	display: flex;
	flex-direction: column;

	background-color: #FFFFF0;
	box-shadow: #000000 -5px 5px 5px;
}


section .container form div {
	padding: 1px;

	
}

section .container form div input[type="radio"]{
	width: 50px;
}

section .container form input[type="submit"]{
	width: 200px;
	height: 25px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: 0px;
}

form .error-message{
	margin-top: 15px;
	color: #000000;
	font-size: 20px;
	font-family: sans-serif;
	text-shadow: red -1px 1px;

}

section .container form p{
	margin-bottom: 15px;
}

section .container form input[type="date"]{
	width: ;
	margin-bottom: 10px;
}

section .container form #tipoclase{
	width: 90%;
	display: flex;
	justify-content: space-evenly;

	margin-bottom: 10px;
}

section .container form #fecha{
	width: 20%;
	display: flex;
	justify-content: space-between;

	margin-bottom: 10px;
}

section .container form .tabla{

	margin: 50px 0;
	display: flex;
	flex-direction: column;	
}

section .container form .tabla .fila {
	display: flex;
	justify-content: space-between;
}

section .container form .tabla .item {
	width: 30%;
}